
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Start sorting!">
    <span class="input-group-btn custombtn">
      <button class="btn btn-default custombtn" type="button"><span class="glyphicon glyphicon-search"></span></button>
    </span>


  </div><!-- /input-group -->
<div>
<%= link_to 'Add Link', new_container_link_path(@staging) %>
<% @staging.each do |c| %>
  <%= c.name %>
  <% c.links.each do |link| %>
    <tr>
      <td><%= link.name %></td>
      <td><%= link_to link.url, url_with_protocol(link.url), :target => '_blank' %></td>
      <td><%= link.description %></td>
      <td><%= link_to 'Show', container_link_path(@staging, link) %>
      <%= link_to 'Edit', edit_container_link_path(@staging, link) %>

    </tr>
  <% end %>
<% end %>

</div>

