<% @staging.each do |staging| %>
  <span><%= staging.name %></span>
  <%= link_to "", new_container_link_path(@staging), class:"glyphicon glyphicon-plus add-staging" %>
  <hr id="welcome-page-hr">
  <table>
  <% staging.links.each do |link| %>
    <tr>
      <td colspan="2"><%= link_to link.name, url_with_protocol(link.url), :target => '_blank' %></td>
      <td><%= link_to '', [staging, link], method: :delete, data: { confirm: 'Are you sure?' },
                                                        class:"glyphicon glyphicon-trash" %></td>
      <td><%= link_to '', edit_container_link_path(staging, link), class: "glyphicon glyphicon-edit" %></td>
    </tr>
    <tr>
      <td><%= link.description %></td>
    </tr>
  <% end %>
  </table>

<% end %>

