<nav class="fixed-nav">
  <ul>
    <li class="logo">
      <%= link_to "Link Sensei", root_path, class:"navbar-brand" %>
    </li>
  </ul>

  <ul class="links nav">

    <li class="<%= 'active' if current_page?(destroy_user_session_path)%>">
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete , class:"nav-link"%>
    </li>

    <% if current_user.present? %>
      <li style="color: white">
        <%= current_user.public_status == true ? "public account" : "private account" %>
      </li>
      <li>
        <%= link_to current_user.name, edit_user_registration_path(current_user) %>
      </li>
      <li>
        <%= link_to "Browse Users", users_path, class:"nav-link" %>
      </li>
      <% unless @user == current_user %>
        <li style="color: white">
          viewing user <%= @user.name %>
        </li>
      <% end %>

    <% end %>
  </ul>
</nav>
