<nav class="fixed-nav">

  <li class="logo"><a class="navbar-brand brand" href="#">Link Sensei</a></li>

  <ul class="links nav">
    <li class="<%= 'active' if current_page?(root_path)%>">
      <%= link_to "Home", root_path, class:"nav-link" %>
    </li>
    <li class="<%= 'active' if current_page?(destroy_user_session_path)%>">
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete , class:"nav-link"%>
    </li>
    <li><% if current_user.present? %><%= link_to current_user.name, edit_user_registration_path(current_user) %> <% end %></li>
  </ul>
</nav>
<div class="users-show">
  <div class="col-sm-3 col-md-3 col-lg-3" id="custom-well-left">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Start sorting!">
        <span class="input-group-btn custombtn">
          <button class="btn btn-default custombtn" type="button"><span class="glyphicon glyphicon-search"></span></button>
        </span>
    </div><!-- /input-group -->
  </div>
   <div class="col-lg-9">

    <h1>Containers</h1>
    <p><%= link_to 'New Container', new_user_container_path(@user) %></p>
    <% @user.containers.each do |container| %>
      <div class="well col-lg-5 cont-well" id="<%= dom_id(container) %>">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th></th>
              <th>Description</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= container.name %></td>
              <td></td>
              <td><%= container.description %></td>
              <td><%= link_to 'Show', user_container_path(@user, container) %> |
              <%= link_to 'Edit', edit_user_container_path(@user, container) %> |
              <%= link_to 'Destroy', [@user, container], method: :delete, data: { confirm: 'Are you sure?' } %> | <%= link_to 'Links', container_links_path(container) %></td>
            </tr>
            <tr><td><b>Links</b></td><td></td><td></td><td></td></tr>
            <tr>
              <th>Name</th>
              <th>URL</th>
              <th>Description</th>
              <th>Actions</th>
            </tr>
            <% container.links.each do |link| %>
              <tr>
                <td><%= link.name %></td>
                <td><%= link_to link.url, url_with_protocol(link.url), :target => '_blank' %></td>
                <td><%= link.description %></td>
                <td><%= link_to 'Show', container_link_path(@container, link) %>
                <%= link_to 'Edit', edit_container_link_path(@container, link) %>
                <%= link_to 'Destroy', [container, link], method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div> <!-- class="col-lg-7" -->
</div> <!-- class="users-show" -->

