
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Link Sensei</a>
  </div> <!-- button will only appear when browser is minimized to col-sm-#  -->

  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li class="<%= 'active' if current_page?(root_path)%>">
        <%= link_to "Home", root_path, class:"nav-link" %>
      </li>
      <li class="<%= 'active' if current_page?(destroy_user_session_path)%>">
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete , class:"nav-link"%>
      </li>
    </ul>
  </div>  <!--end of navigational headings -->
</nav>

<div class="container" >
  <div class="col-lg-3 col-lg-offset-1">

    <% if user_signed_in? %>
      Signed in as <%= current_user.email %>. Not you?
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %> or
      <%= link_to "Sign in", new_user_session_path %>
    <% end %>

<p><%= link_to 'New Container', new_user_container_path(@user) %></p>
<p><%= link_to 'Containers list', user_containers_path(@user) %></p>

  </div>
  <div class="col-lg-7"
</div>
