<div class="well col-lg-6 content-well" id="<%= dom_id(container) %>">
    <table class="table">
      <thead>
        <tr>
          <th colspan="4"><%= container.name %>
          <% if on_my_page? %>

            <%= link_to '', [@user, container], method: :delete, data: { confirm: 'Are you sure?' }, class:"glyphicon glyphicon-trash container-icon", id:"destroy" %>
            <%= link_to '', "#", class: "glyphicon glyphicon-edit container-icon", id:"edit", "data-toggle" => "modal", 'data-target' => "#modal_edit_" + dom_id(container)%>
            <span class="info-pop" data-toggle="popover" data-placement="right" data-content="<%= container.description %>" data-original-title="Description"><span class="glyphicon glyphicon-info-sign"></span></span>
            <%= link_to '', user_container_path(@user, container), class:'glyphicon glyphicon-new-window container-icon', id:"show" %>
            <%= link_to '', "#", class:'glyphicon glyphicon-plus container-icon', id:"add_link", "data-toggle" => "modal", 'data-target' => "#modal_link_" + dom_id(container) %>
          <% end %>
          <% if on_my_page? == false %>
            <%= link_to 'CLONE', user_container_clone_path(@user, container), method: :post %>
          <% end %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% container.links.each do |link| %>
          <tr>
            <td><%= link_to link.name, url_with_protocol(link.url), :target => '_blank' %></td>
            <td><%= link.description %></td>
            <td colspan='2'>
            <% if on_my_page? %>
              <%= link_to '', [container, link], class:"glyphicon glyphicon-trash container-icon", id: "destroylink", method: :delete, data: { confirm: 'Are you sure?' } %>
              <%= link_to '', edit_container_link_path(container, link), class:"glyphicon glyphicon-edit container-icon", id: "editlink" %>
            <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= render partial: 'links/newlink', locals: {container: container} %>
  <%= render partial: 'containers/editcontainer', locals: {container: container} %>

