<%= form_for [@user, @container], html: {role:"form"} do |f| %>
  <% if @container.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@container.errors.count, "error") %> prohibited this container from being saved:</h2>

      <ul>
      <% @container.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <div class="field">
      <%= f.label :starred %>
      <%= f.check_box :starred %>
    </div>

  <div class="field">
    <% f.hidden_field :user_id %>
    <%= f.label :name %><br />
    <%= f.text_field :name, class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field(:description, rows: 10, class:"form-control") %>
  </div>


  <div class="actions" style="margin-top: 1em;">
    <%= f.submit(class: "btn btn-default btn-small custombtn") %>
  </div>
</div>
<% end %>
<%= link_to 'Home', user_path(current_user) %>
