<p id="notice"><%= notice %></p>
<p><%= @container.name %></p>
<p><%= @container.description %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>URL</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @container.links.each do |link| %>
      <tr>
        <td><%= link.name %></td>
        <td><%= link_to link.url, url_with_protocol(link.url), :target => '_blank' %></td>
        <td><%= link.description %></td>
        <td><%= link_to 'Show', container_link_path(@container, link) %>
        <%= link_to 'Edit', edit_container_link_path(@container, link) %>
        <%= link_to 'Destroy', [@container, link], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_user_container_path(@user, @container) %> |
<%= link_to 'Back', user_containers_path %> |
<%= link_to 'Add Link', new_container_link_path(@container) %>


