  <div class="well" id="<%= dom_id(@container) %>" style="margin: 1em">
    <table class="table">
      <thead>
        <tr>
          <th colspan="4"><%= @container.name %>

          <% if on_my_page? %>
           <%= link_to '', [@user, @container], method: :delete, data: { confirm: 'Are you sure?' }, class:"glyphicon glyphicon-trash container-icon" %>
           <%= link_to '', edit_user_container_path(@user, @container), class: "glyphicon glyphicon-edit container-icon" %>
           <a class="info-pop" href="#" data-toggle="popover" data-placement="right" data-content="<%= @container.description %>" data-original-title="Description"><span class="glyphicon glyphicon-info-sign"></span></a>
            <%= link_to '', new_container_link_path(@container), class:'glyphicon glyphicon-plus', id: 'add_link' %>
            <%= link_to 'Home', user_path(current_user) %>
          <% end %>

          </th>
        </tr>
      </thead>
      <tbody>
        <% @container.links.each do |link| %>
          <tr>
            <td><%= link_to link.name, url_with_protocol(link.url), :target => '_blank' %></td>
            <td><%= link.description %></td>
            <td colspan='2'>
            <% if on_my_page? %>
              <%= link_to '', [@container, link], class:"glyphicon glyphicon-trash container-icon", method: :delete, data: { confirm: 'Are you sure?' } %>
              <%= link_to '', edit_container_link_path(@container, link), class:"glyphicon glyphicon-edit container-icon" %>
            <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

