<p id="notice"><%= notice %></p>
<p><%= @container.name %></p>
<p><%= @container.description %></p>
<%= link_to 'Edit', edit_user_container_path(@user, @container) %> |
<%= link_to 'Back', user_containers_path %>


