<h1>INDEX</h1>

<h1>Listing Links</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>URL</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link.name %></td>
        <td><%= link.url %></td>
        <td><%= link.description %></td>
        <td><%= link_to 'Show', container_link_path(@container, link) %>
        <%= link_to 'Edit', edit_container_link_path(@container, link) %>
        <%= link_to 'Destroy', [@container, link], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', user_containers_path(current_user, @container) %>
