<div class="well" style="margin: 1em">
<p id="notice"><%= notice %></p>
<p><%= @link.name %></p>
<p><%= @link.url %></p>
<p><%= @link.description %></p>
<%= link_to 'Edit', edit_container_link_path(@container, @link) %> |
<%= link_to 'Home', user_path(current_user) %>
</div>
